<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700;900&display=swap">
		<link rel="stylesheet" href="/home.css">
		<title>Ken Counts to a Million</title>
	</head>
	<body>
		<h1 id="title">
			Ken Counts to a Million
		</h1>
		<h2
			id="status"
			class="{{#if ready}}ready{{/if}}"
		>
			{{#if current}}
				{{#if ready}}
					{{current}}
				{{else}}
					Stopped at {{current}}
				{{/if}}
			{{else}}
				Stopped
			{{/if}}
		</h2>
		<div id="forms">
			<form class="message-form" onsubmit="addMessage(event)">
				<h3 class="message-form-title">
					Add Message to Queue
				</h3>
				<h4
					id="add-message-subtitle"
					class="message-form-subtitle"
				>
					Your message will be attached to the nearest available number
				</h4>
				<div class="message-form-body">
					<input
						id="add-message-input"
						class="message-form-input message-form-main-input"
						required
						placeholder="Message"
						oninput="addMessageInputChanged(event.target.value)"
					>
					<button
						id="add-message-submit-button"
						class="message-form-button"
						disabled
					>
						Send
					</button>
				</div>
			</form>
			<form class="message-form" onsubmit="claimNumber(event)">
				<h3 class="message-form-title">
					Claim Number
				</h3>
				<h4
					id="claim-number-subtitle"
					class="message-form-subtitle"
				>
					Your message will be attached to your desired number
				</h4>
				<input
					id="claim-number-number-input"
					class="message-form-input message-form-secondary-input"
					required
					placeholder="Number"
					type="number"
					oninput="claimNumberNumberInputChanged(event.target.value)"
				>
				<div class="message-form-body">
					<input
						id="claim-number-text-input"
						class="message-form-input message-form-main-input"
						required
						placeholder="Message"
						oninput="claimNumberTextInputChanged(event.target.value)"
					>
					<button
						id="claim-number-submit-button"
						class="message-form-button"
						disabled
					>
						Send
					</button>
				</div>
			</form>
		</div>
		<script src="/home.js"></script>
	</body>
</html>
